.todo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  /* border: 1px solid red; */
  width: 21rem;
  height: 3.2rem;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}
.todo-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #f8f8f8;
}
.todo-input button {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc907;
  transition: all 0.18s ease-in-out;
}
.todo-input button:hover {
  background-color: #ffd53b;
}
.todo-input button svg {
  scale: 0.9;
}
